* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
}

body {
    font-family: Verdana, sans-serif;
    color: #fff;
    background-color: cornflowerblue;
}

.wrapper {
    max-width: 450px;
    margin: 40px auto;
}

.weather {
    width: 100%;
    margin: 20px auto;
}

.weather h1 {
    text-align: center;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.weather__temp {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.weather__feels-like {
    font-size: 20px;
    margin-bottom: 20px;
}

.weather__city {
    font-size: 20px;
}

.weather__status {
    font-size: 20px;
    font-weight: 700;
}

.search {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 8px;
    border-radius: 5px;
}

img {
    width: 50px;
}

.weather__extra {
    background-color: rgba(45, 45, 45, 0.9);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.weather__extra-day {
    display: flex;
    align-items: center;
}

.extra-day__temp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 20%;
}

.extra-day {
    flex-basis: 25%;
}

.extra-day__icon {
    flex-basis: 20%;
}

.extra-day__status {
    flex-basis: 35%;
}